********************************************************************
*                                                                  *
* This system is for authorized use only. By accessing this       *
* system, you agree that your actions may be monitored and        *
* recorded. Unauthorized access is strictly prohibited and may     *
* be subject to criminal and/or civil penalties.                  *
*                                                                  *
* All activities performed on this system are logged and           *
* monitored. Individuals using this system without authority, or   *
* in excess of their authority, are subject to having all of      *
* their activities on this system monitored and recorded.         *
*                                                                  *
********************************************************************
